<h1>NBA Team App</h1>

<div class="buttons">
  <button mat-raised-button color="primary" class="add-btn">Add Coach</button>
  <button mat-raised-button color="primary" class="add-btn">Add player</button>
</div>

<mat-expansion-panel *ngFor="let team of teams">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{team.name}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>Coaches:</p>
  <ul>
    <li *ngFor="let coach of team.coaches">{{coach.name}}
      <br> {{coach.position}}</li>
  </ul>
  <p>Players:</p>
  <ul>
    <li *ngFor="let player of team.players">{{player.name}} - {{player.number}}
      <br> {{player.position}}</li>
  </ul>
</mat-expansion-panel>

<form [formGroup]="teamForm">
  <div *ngIf="teamForm.get('coaches').length">
    <app-coach *ngFor="let coach of teamForm.get('coaches')" [parentForm]="teamForm"></app-coach>
  </div>
  <div *ngIf="teamForm.get('players').length">
    <app-player *ngFor="let player of teamForm.get('players')" [parentForm]="teamForm"></app-player>
  </div>
  <button type="submit" mat-raised-button color="warn" (click)="submit()">Submit</button>
</form>